[submodule "concise-args"]
	path = concise-args
	url = https://github.com/abachrach/concise-args
[submodule "jpeg-utils"]
	path = jpeg-utils
	url = https://github.com/ripl-ttic/jpeg-utils
[submodule "geom-utils"]
	path = geom-utils
	url = https://github.com/ripl-ttic/geom-utils
[submodule "image-utils"]
	path = image-utils
	url = https://github.com/ripl-ttic/image-utils
[submodule "occ-map"]
	path = occ-map
	url = https://github.com/ripl-ttic/occ-map
[submodule "husky-lcmtypes"]
	path = husky-lcmtypes
	url = https://github.com/ripl-ttic/husky-lcmtypes
[submodule "husky-core"]
	path = husky-core
	url = https://github.com/ripl-ttic/husky-core
[submodule "obstacle-detector"]
	path = obstacle-detector
	url = https://github.com/ripl-ttic/obstacle-detector
[submodule "gps18"]
	path = gps18
	url = https://github.com/ripl-ttic/gps18
[submodule "check-gridmap"]
	path = check-gridmap
	url = https://github.com/ripl-ttic/check-gridmap
[submodule "rrtstar"]
	path = rrtstar
	url = https://github.com/ripl-ttic/rrtstar
[submodule "lcm-visualization"]
	path = lcm-visualization
	url = https://github.com/ripl-ttic/lcm-visualization
	branch = husky
[submodule "octomap-utils"]
	path = octomap-utils
	url = https://github.com/ripl-ttic/octomap-utils
[submodule "laser-utils"]
	path = laser-utils
	url = https://github.com/ripl-ttic/laser-utils
